obj
libui/obj
libui/libui.a
libui/windows_demo
guimp
libui/vgcore*
libui/*.zip
libui/blackchancery.zip
libui/sdl2
libui/assets/*.svg
libui/libui.geany
libui/windows_demo.dSYM
libui/tags
libui/cscope.out
.DS_Store
