obj
libui/obj
libui/libui.a
libui/windows_demo
guimp
libui/vgcore*
libui/*.zip
libui/blackchancery.zip
libui/sdl2
libui/.vscode
libui/assets/*.svg
libui/windows_demo.dSYM/
libui/.kdev4/
libui/libui.kdev4
